* {
    box-sizing: border-box;
}

body {
    background-color: #dbf3ff;
    font-size: 17px;
    margin: 0;
    padding: 10px;
    color: #032e4b;
    text-align: center;    
}

hr {
    border: none;
    height: 1.5px; 
    background-color: #032e4b; 
    margin-bottom: 15px;
    margin-top: 20px;
}

a {
    color: rgb(37, 125, 166);
    font-weight: bold;
}

a:hover {
    color: rgb(88, 167, 203);
}
